html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --c-accent: #b62020;

  --fs-sm: clamp(0.9rem, 5.42vi + -0.5rem, 6rem);
  --fs-base: clamp(1.13rem, 7.3vi + -0.76rem, 8rem);
  --fs-md: clamp(1.41rem, 9.84vi + -1.14rem, 10.66rem);
  --fs-lg: clamp(1.76rem, 13.23vi + -1.67rem, 14.22rem);
  --fs-xl: clamp(2.2rem, 17.8vi + -2.41rem, 18.95rem);
  --fs-xxl: clamp(2.75rem, 23.92vi + -3.44rem, 25.26rem);
  --fs-xxxl: clamp(3.43rem, 32.12vi + -4.88rem, 33.67rem);
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

body {
  font-family: "garamond-premier-pro-subhead", serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-family: arsenica-variable, sans-serif;
  font-weight: 200;
  font-size: var(--fs-base);
  color: var(--c-accent);
  font-weight: 500;
}
